Source: ros-indigo-dji-sdk-web-groundstation
Section: misc
Priority: extra
Maintainer: Norman Li <norman.li@dji.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-actionlib, ros-indigo-actionlib-msgs, ros-indigo-catkin, ros-indigo-dji-sdk, ros-indigo-message-generation, ros-indigo-roscpp, ros-indigo-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-dji-sdk-web-groundstation
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-actionlib, ros-indigo-actionlib-msgs, ros-indigo-dji-sdk, ros-indigo-roscpp, ros-indigo-std-msgs
Description: The dji_sdk_web_groundstation package
