Source: ros-indigo-dji-sdk-lib
Section: misc
Priority: extra
Maintainer: William Wu <william.wu@dji.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-dji-sdk-lib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: The dji_sdk_lib package
